.four
{
    background-image: linear-gradient(black,black);
}
.About
{
    border: 2px gray;
    border-style:   solid;
    height: 200px;
    width: auto;
    margin:20px;
    border-radius:10px;
    padding: 30px;
    background-color: black;
    background: black;
}
.Q{
    margin-bottom: 50px;
    position: absolute;
    right:50px;
    margin-top: -95px;
    height: 90px;
    width: 100px;
}
