
.Five
{
    position: relative;
    height: 100px;
    margin:40px;
    border-radius:10px;
    padding: 20px;
    background-color:rgba(15, 10, 10, 0.155);
    background-image: linear-gradient(grey);

}
.Fifthimage
{
    position: absolute;
    left: 0;
    height:80px;
    width: 80px;
}
.Fiveh
{
    margin-left: 100px;
    margin-top:-70px;
    position: relative;
    top: 60px;
    right: 400px;
    
}
.fivep
{
    margin-left: 100px;
    margin-top:-10px;
    position: relative;
    top: 70px;
    right: 380px;

    
}
.sixthimage
{
   position: absolute;
   top:10px;

   right: 250px;
   /* margin-left: 800px;
   margin-top: -100px; */
  border-radius: 10px;
    height: 50px;
    width: 200px;
    border-style: 1px solid;
}
.sixthimage1
{
    position: absolute;
    top:10px;

    right: 50px;

    /* margin-left: 1000px;
    margin-top: -100px; */
   border-radius: 10px;
     height: 50px;
     width: 200px;
     border-style: 1px solid; 
}
.para
{
    background: black;
    color:white;
    margin: auto;
    
}

